.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 900px;

  @media (max-width: 768px) {
    display: block;
  }
}

section {
  font-size: 2em;
  text-align: center;
  line-height: 1.6;
}
.txt-grey {
  color: #888;
}

section.call {
  padding: 2em 15px;
  max-width: 740px;
  margin: 0 auto 2rem auto;
}

section.grid-2 {
  max-width: 100%;
  text-align: left;
  align-items: center;
  font-size: 1.3rem;

  > div {
    max-width: 700px;
  }

  figure {
    margin-right: 2rem;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &.left {
    grid-template-columns: 1.5fr 1fr;
    > div {
      padding-left: 10%;
    }
    figure {
      margin-left: 2rem;
      @media (max-width: 768px) {
        margin-left: 0;
        margin-top: 2rem;
      }
    }
  }
}

.btn {
  color: #fff;
  background: rebeccapurple;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    transform: scale(1.1);
  }
}
