.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 900px;
  gap: 30px;

  @media (max-width: 768px) {
    display: block;
  }
}

section {
  font-size: 2em;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 4rem;
}
.txt-grey {
  color: #888;
}

section.call {
  padding: 2em 15px;
  max-width: 740px;
  margin: 0 auto 2rem auto;
}

section.grid-2 {
  max-width: 100%;
  text-align: left;
  align-items: center;
  font-size: 1.3rem;

  @media (max-width: 768px) {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 3rem;
  }

  > div {
    max-width: 700px;
  }

  figure {
    margin-right: 2rem;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &.right {
    padding-right: 10vw;
    @media (max-width: 768px) {
      margin-right: 0;
      padding-right: 20px;
    }
  }

  &.left {
    grid-template-columns: 1.5fr 1fr;
    padding-right: 10vw;
    > div {
      padding-left: 10vw;
    }
    figure {
      margin-left: 2rem;
      margin-right: 0;
    }
    @media (max-width: 768px) {
      padding-right: 0;
      figure {
        margin-left: 0;
        margin-top: 2rem;
        margin-right: 0;
      }
      > div {
        padding-left: 0;
      }
    }
  }
}

.btn {
  color: #fff;
  background: rebeccapurple;
  padding: 10px 30px;
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    transform: scale(1.1);
  }
}
.container {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 20px;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 30px;

  > div {
    display: flex;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    display: block;
  }
}

footer {
  figure {
    flex: 0 0 130px;
    height: 130px;
    overflow: hidden;
    margin: 0 1rem 1rem 0;
    box-shadow: -5px 5px white, -10px 10px rgba(101, 51, 153, 0.5);
  }

  @media (max-width: 500px) {
    figure {
      flex: 0 0 100px;
      height: 100px;
    }
  }
}
