header#header {
  background: url(../../images/hero-image-70-1440.jpg) no-repeat;
  height: 70vh;
  background-size: cover;
  display: flex;
  align-items: center;

  button.lang {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-family: sans-serif;
    border-radius: 100px;
    padding: 5px 15px;
    background: none;
    cursor: pointer;
  }

  h1 {
    color: white;
    font-size: 4rem;
    padding-left: 10vw;
    max-width: 700px;
  }

  @media (max-width: 768px) {
    // height: 80vh;
    h1 {
      font-size: 3rem;
    }
  }
}
