header#header {
  background: url(../../images/hero-image-70-1440.jpg) no-repeat;
  height: 70vh;
  background-size: auto;
  display: flex;
  align-items: center;

  button.lang {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  h1 {
    color: white;
    font-size: 4rem;
    padding-left: 10vw;
    max-width: 700px;
  }
}
